@import "../../Styling/global.scss";
@import "../../Styling/style.scss";

// .project{
//     padding: 100px 0px;


//     .pji{
//         text-align: center;
//      text-transform: capitalize;
//     display: flex;
//     -webkit-box-align: center;
//     align-items: center;
//     position: relative;
//     margin: 10px 0px 40px;
//     width: 100%;
//     font-size: clamp(26px,5vw,var(--fz-heading));
//     white-space: nowrap;


//     &::before{
//         align-items: center;
//         position: relative;
//         // bottom: 4px;
//         counter-increment: section 1;
//         content: "03" ".";
//         margin-right: 10px;
//         color: var(--green);
//         font-family: var(--font-mono);
//         font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
//         font-weight: 400;
//     }
//     &:after {
//         content: "";
//         display: block;
//         position: relative;
//         top: -5px;
//         width: 300px;
//         height: 1px;
//         margin-left: 20px;
//         background-color: var(--lightest-navy);
//       }
//     }

//       .projects-grid {
//         list-style: none;
//         padding: 0px;
//         margin: 50px 0px 0px;
//         display: grid;
//         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//         gap: 15px;
//         position: relative;

//         li {
//             position: relative;
//             cursor: default;
//             transition: var(--transition);

//            a{
//             position: relative;
//             z-index: 1;
//            } 
        

//           .project-inner {
//             // box-shadow: 0 10px 30px -15px var(--navy-shadow);
//             // display: flex;
//             // -webkit-box-pack: justify;
//             // justify-content: space-between;
//             // -webkit-box-align: center;

//             flex-direction: column;
//             align-items: flex-start;
//             position: relative;
//             height: 100%;
//             padding: 2rem 1.75rem;
//             border-radius: var(--border-radius);
//             background-color: var(--light-navy);
//             transition: var(--transition);
//             overflow: auto;
//         }
        
//         .project-top {
//             // display: flex;
//             // -webkit-box-pack: justify;
//             // justify-content: space-between;
//             // -webkit-box-align: center;
//             // align-items: center;
//             margin-bottom: 35px;

//              .folder {
//                 color: var(--green);
                
//                 svg {
//                     width: 40px;
//                     height: 40px;
//                 }
//             }
        
//         .project-links {
//             display: flex;
//             -webkit-box-align: center;
//             align-items: center;
//             margin-right: -10px;
//             color: var(--light-slate);
            
//             a{
//                 padding: 5px 7px;
        
//             //     svg.feather.feather-external-link {
//             //     width: 22px;
//             //     height: 22px;
//             //     margin-top: -4px;
//             // } 
            
//             svg{
//                 width: 20px;
//                 height: 20px;
//             }}}}
         

//             //  a {
//             //     display: flex;
//             //     -webkit-box-pack: center;
//             //     justify-content: center;
//             //     -webkit-box-align: center;
//             //     align-items: center;
//             //     padding: 5px 7px;
//             // }
//         }
//         // .dIMCBf a {
//         //     position: relative;
//         //     z-index: 1;
//         // }
//         .project-title {
//             margin: 0px 0px 10px;
//             color: var(--lightest-slate);
//             font-size: var(--fz-xxl);
        
//          a {
//             position: static;

//             &::before{
//                 content: "";
//             display: block;
//             position: absolute;
//             z-index: 0;
//             width: 100%;
//             height: 100%;
//             top: 0px;
//             left: 0px;
//             }
//         }
//     }

//         // .dIMCBf .project-title a::before {
//         //     content: "";
//         //     display: block;
//         //     position: absolute;
//         //     z-index: 0;
//         //     width: 100%;
//         //     height: 100%;
//         //     top: 0px;
//         //     left: 0px;
//         // }
//          .project-description {
//             color: var(--light-slate);
//             font-size: 17px;

//             #j{
//                 margin: 0px;
//             }
//         }
//          .project-tech-list {
//             display: flex;
//             align-items: flex-end;
//             -webkit-box-flex: 1;
//             flex-grow: 1;
//             flex-wrap: wrap;
//             padding: 0px;
//             margin: 20px 0px 0px;
//             list-style: none;
        
//          li {
//             font-family: var(--font-mono);
//             font-size: var(--fz-xxs);
//             line-height: 1.75;

//             &:not(:last-of-type) {
//                 margin-right: 15px;
//               }
           
//         }
//     }

//     }
//     }


.project{
    padding: 100px 0px;


    .pji{
        text-align: center;
     text-transform: capitalize;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;


    &::before{
        align-items: center;
        position: relative;
        // bottom: 4px;
        counter-increment: section 1;
        content: "03" ".";
        margin-right: 10px;
        color: var(--green);
        font-family: var(--font-mono);
        font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
        font-weight: 400;
    }
    &:after {
        content: "";
        display: block;
        position: relative;
        top: -5px;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: var(--lightest-navy);
      }
    }

      .projects-grid {
        list-style: none;
        padding: 0px;
        margin: 50px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;

        li {
            position: relative;
            cursor: default;
            transition: var(--transition);

           a{
            position: relative;
            z-index: 1;
            text-decoration: none;
             color: var(--light-slate);

            :hover, :focus{
                color: var(--green); 
            }
           }
           .project-title :hover{
            color: var(--green);
           }
          
        

          .project-inner {
            box-shadow: 0 10px 30px -15px var(--navy-shadow);
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;

            flex-direction: column;
            align-items: flex-start;
            position: relative;
            
            padding: 2rem 1.75rem;
            border-radius: var(--border-radius);
            background-color: var(--light-navy);
            transition: var(--transition);
            overflow: auto;
        }
        
        .project-top {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 35px;

             .folder {
                color: var(--green);
                
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        
        .project-links {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin-right: -10px;
            color: var(--light-slate);
            
            a{
                color: var(--light-slate);
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                padding: 5px 7px;
        
                svg .feather.feather-external-link {
                width: 22px;
                height: 22px;
                margin-top: -4px;
                color: var(--light-slate);
            } 
            
            svg{
                width: 20px;
                height: 20px;
            }}}}
         

            //  a {
            //     display: flex;
            //     -webkit-box-pack: center;
            //     justify-content: center;
            //     -webkit-box-align: center;
            //     align-items: center;
            //     padding: 5px 7px;
            // }
        }
    
        .project-title {
            margin: 0px 0px 10px;
            color: var(--lightest-slate);
            font-size: var(--fz-xxl);
        
         a {
            position: static;

            &::before{
                content: "";
            display: block;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            }
        }
    }

        
         .project-description {
            color: var(--light-slate);
            font-size: 17px;

            #j{
                margin: 0px;
            }
        }
         .project-tech-list {
            display: flex;
            align-items: flex-end;
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-wrap: wrap;
            padding: 0px;
            margin: 20px 0px 0px;
            list-style: none;
        
         li {
            font-family: var(--font-mono);
            font-size: var(--fz-xxs);
            line-height: 1.75;

            &:not(:last-of-type) {
                margin-right: 15px;
              }
              
           
        }
    }

    }
    }

    

