$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

#halo {
  color: #65ffdb;
  font-size: 20px;
}


#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}
