@import "../../Styling/global.scss";
@import "../../Styling/style.scss";

.footer{
    // background-color: var(--navy);
    text-align: center;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1;
    padding: 10px;

.center-part{
    padding: 10px;

    .ritt{
        display: none;
        
        @media (max-width: 768px)       
         {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0px auto 10px;
    color: var(--light-slate);

    ul{
        display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;

   li a{
        padding: 10px;
        display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);

    svg{
        width: 20px;
    height: 20px;

    }
    }
    }
         }
    }

.first-line{
margin-bottom: 4px;
}
.second-line{
span{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 7px;

    .ded{
    //    font-size: 15px;
       display: flex;
       
        svg{
            display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
        }
    }}
}
.third-line{

}
    p{
    color: #CCD7F7;
}
}}