@import "../../Styling/global.scss";
@import "../../Styling/style.scss";
//  span.line1{
//     width: 100%;
//     height: 3px;
    
//     background-color: #fff;
//     transition: all 2s ease;
//     width: 52px;
//     height: 5px;
//     display: flex;
// transform: rotate(90deg);  
// }

.home{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
   


.home{
    background-color: #0a192f;
    display: flex;
    overflow: hidden ;
    

@include mobile{
    flex-direction: column;
    align-items: center;
}

.left{
    flex: 0.5;
    overflow: hidden;
    
    .imgcont{
        width: 350px;
        height: 350px;
        border-radius:80% ;

        // max-width: 500px;
        display: block;

  

        justify-content: center;
        display: flex;
        align-items: flex-end;
        float: right;
        border-color: var(--green);;
        border-style: double;

        @include mobile{
            align-items: start;
        
        }
    }
    
    img{
        height: 100%;
        width: 330px;
        height: 330px;
        border-radius:50% ;
    
        

        @include mobile{
            height: 80%;
            
        }
    }

}

.right{
   position: relative;
    flex: 0.5;

    .wrapper{
        width: 100%;
        height: 100%;
        // padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        @include mobile{
            padding-left: 0;
            align-items: center;
        }


        h1{
            
            margin: 10px 0;
            font-size: 60px;
            color: #CCD6F6;

            @include mobile{
                font-size: 40px;

            }
        }
h4{
    color: #8892B0;
    font-size: 35px;
}
        h2{
            font-size: 40px;
            color: #6c757d;
         

        }
        h3{

            font-size: 35px;

            
        @include mobile{
            font-size: 20px;
          }
  

            span{
                font-size: inherit;
                color: var(--green);;
            }

            .ityped-cursor {
                animation: blink 1s infinite;
              }
      
              @keyframes blink {
                  50%{
                      opacity: 1;
                  }
                  100%{
                      opacity: 0;
                  }
        }
    }
        
    }
     a.ff{
        position: absolute;
        bottom: 10px;
        left: 50%;

        img{
            width: 150px;
            height: 70px;
            animation: arrowBlink 1s infinite;

            @include mobile{
                width: 90px;
                height: 50px;
                
        }}
        p{
            color:white;
            padding-left:45px;
            animation: arrowBlink 1s infinite;
            }

        @keyframes arrowBlink {
            100%{
                opacity: 0.1;
            }
            
        }
     }
    
}

}
}