@import "./Styling/style.scss";
@import "./Styling/global.scss";
* {
  margin: 0px;
}

.app {
  background-color: var(--navy);


  .sections {
    padding: 0 150px;
    line-height: 1.3;
    
   
  }
  h1 {
    color: #ccd7f7;
  }

  // scroll-btn..........
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 11px;
    font-size: 25px;
    background: rgb(78, 77, 75);
    color: #65ffdb;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30% 0 30% 0;
    border: none;
    padding: 7px;
    box-shadow: 0 1px 5px #65ffdb;
    scroll-behavior: smooth;
    
  }

  .back-to-top:hover {
    /* opacity: 0.75; */
    background-color: #65ffdb;
    color: rgb(78, 77, 75);
  }
  //   scroll-btn end..........
}

